@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background: rgb(120, 42, 255);
}
.search-box {
  margin: 24px;
  background: #fff;
  width: auto;
  height: fit-content;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  border-radius: 28px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px #000000;
}
.search-box .input-box{
  padding-left: 26px;
  width: 400px;
  height: 45px;
  font-size: 16px;
  outline: none;
  border: none;
  background: none;
}
.search-box label{
  display: block;
  width: auto;
  height: fit-content;
  cursor: pointer;
}
.search-box i{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 45px;
  width: 55px;
  background: #fff;
  color: black;
  font-size: 22px;
}
.reset-box{
  color: rgb(162, 162, 162);
  cursor: pointer;
  background: none;
  outline: none;
  height: 45px;
  border: none;
  display: none;
  display: none;
  align-items: center;
  justify-content: center;
}

/* ********* message box *********** */

.message-box{
  margin: 0 24px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 30%;
  width: auto;
  max-width: 400px;
  min-width: 250px;
  padding: 20px;
  box-shadow: 0 0 10px #000000bb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-box .fa-xmark{
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
}

/* ******** Error Box ******** */

.error-box{
  position: absolute;
  top: 25vh;
  width: auto;
  max-width: 500px;
  height: fit-content;
  font-size: 18px;
  padding: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px #000000bb;
  color: red;
  margin: 20px;
}

/* ********** Information BOX *********** */

.info-box{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 24vh;
  width: auto;
  max-width: 500px;
  height: fit-content;
  padding: 20px;
  margin: 24px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px #000000bb;
}

.info-box .info-head{
  max-height: 200px;
  display: flex;
  width: 100%;
  
}

.info-head .poster{
  min-width: 150px;
  height:200px;
  margin-right: 10px;
  background-image: url('./img/bg-imgae.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.info-head .head-child{
  width: calc(100% - 150px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}


.info-box .info-body{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}


/* ******* Responsive design ********** */

@media (max-width: 300px){
  .message-box,
  .error-box{
    padding: 30px;
  }
}

@media (min-width: 300px) and (max-width: 400px){
  .message-box,
  .error-box{
    padding: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1110px){
  .info-box{
  min-width: 500px;
}
}